@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Login";    
}

    <form class="border border-1 rounded-2 border-black p-5">
        <label class="form-label" for="email">Email</label>
        <input class="form-control mb-4" id="email" type="email" required/>
        <label class="form-label" for="password">Password</label>
        <div class="input-group mb-5">
            <input class="form-control" type="password" id="password" required/>
            <button type="button" id="pass-rev-button" class="btn btn-light border rounded-end-2">
                <i id="pass-rev-icon" class="bi bi-eye-fill"></i>
            </button>
        </div>
        <button type="submit" class="btn btn-light w-100 mb-3 border-1 border">Sign In</button>
        <button type="button" class="btn btn-primary w-100 align-items-centers">
            <i class="bi bi-google mb-1"></i>
            Sign in With Google
        </button>
        <hr/>
        <a class="nav-link link-primary text-center mt-2 mb-0" asp-action="Register" asp-controller="Auth">Create New Account Here!</a>
    </form>