@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Registration";
}
    <form class="border border-1 rounded-2 border-black p-5">
        <div class="d-lg-inline-flex d-md-flex mb-3">
            <div class="me-md-2">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" required/>
            </div>
            <div>
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" required/>
            </div>
        </div>
        <div class="mb-5">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" required/>
        </div>
        <label for="password" class="form-label">Password</label>
        <div class="input-group mb-3">
            <input type="password" class="form-control" id="password" required/>
            <button type="button" id="pass-rev-button" class="btn border rounded-end-2">
                <i id="pass-rev-icon" class="bi bi-eye-fill"></i>    
            </button>
        </div>
        <label for="repeatpassword" class="form-label">Repeat Password</label>
        <div class="input-group mb-5">
            <input type="password" class="form-control" id="repeatpassword" required/>
            <button type="button" id="repass-rev-button" class="btn border rounded-end-2">
                <i id="repass-rev-icon" class="bi bi-eye-fill"></i>    
            </button>
        </div>
        <button type="submit" class="btn btn-light w-100 mb-3 border-1 border">Sign Up</button>
        <button type="button" class="btn btn-primary w-100 align-items-centers mb-3">
            <i class="bi bi-google mb-1"></i>
            Create Account With Google
        </button>
        <hr/>
        <a class="nav-link link-primary text-center align mb-0" asp-action="Login" asp-controller="Auth">Already Have Account? Log in</a>
    </form>